.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#topBar button {
		margin: 1em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2em;
}

form * {
	margin-bottom: 3px;
}

form input {
	margin-left: 5px;
}

/* Global styles */
body {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

/* Header */
header {
  background-color: #111; /* Slightly lighter black */
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #333;
}

/* Buttons */
button {
  background-color: #333; /* Dark grey */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #444;
}

/* Links */
a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #aaa; /* Light grey */
}

/* Forms */
input,
textarea {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  padding: 0.5rem;
  border-radius: 5px;
  
}

input:focus,
textarea:focus {
  border-color: #666;
  outline: none;
}

/* Footer */
footer {
  background-color: #111;
  color: #888;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header,
  footer {
    padding: 0.5rem;
  }

  button {
    padding: 0.5rem;
  }
}


dialog {
  width: 80%; /* Adjust the width as needed */
  max-width: 500px; /* Optional: Limit max width */
  height: auto; /* Let height adjust based on content */
  position: fixed; /* Fixed position to center the dialog */
  top: 50%; /* Move the dialog to the vertical center */
  left: 50%; /* Move the dialog to the horizontal center */
  transform: translate(-70%, -50%); /* Offset the position by 50% of its size */
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for better visual effect */
  border-radius: 8px; /* Optional: rounded corners */
  z-index: 1000; /* Make sure the dialog appears on top of other content */
}
